
<div class="edit-view" data-area="edit">
	<div class="wrapper">
		<div class="group-row">
			<legend>Grid</legend>
			<div class="row compact">
				<legend>Row / Cols</legend>
				<div>
					<input type="number" min="1" max="11" value="4" data-change="set-grid-rows">
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
				<div>
					<input type="number" min="1" max="11" value="4" data-change="set-grid-cols">
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>

			<div class="row">
				<legend>Line</legend>
				<div data-suffix="px">
					<input type="number" min="15" max="23" value="19" data-change="set-grid-line">
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>

			<div class="row">
				<legend>Gap</legend>
				<div data-suffix="px">
					<input type="number" min="4" max="29" value="6" data-change="set-grid-gap">
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>

		<div class="group-row">
			<legend>Cell Size</legend>
			<div class="row">
				<legend>Width</legend>
				<div data-suffix="px">
					<input type="number" value="83" min="30" max="120" data-change="set-cell-width">
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
				<div>
					<button data-click="sync-cell-width">Sync</button>
				</div>
			</div>
			<div class="row">
				<legend>Height</legend>
				<div data-suffix="px">
					<input type="number" value="83" min="30" max="120" data-change="set-cell-height">
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
				<div>
					<button data-click="sync-cell-height">Sync</button>
				</div>
			</div>
		</div>
			
		<div class="group-row">
			<div class="row select">
				<legend>Palette</legend>
				<div>
					<selectbox class="table-outline" data-menu="grid-palette">
						<option selected="1" value="none">Orange</option>
					</selectbox>
				</div>
			</div>

			<div class="row select">
				<legend>Symmetry</legend>
				<div>
					<selectbox class="table-outline" data-menu="grid-symmetry">
						<option selected="1" value="none">No symmetry</option>
					</selectbox>
				</div>
			</div>
		</div>

		<div class="group-row">
			<legend>Base</legend>
			<div class="row options">
				<div class="option-buttons_" data-click="select-base-tool">
					<span data-arg="start" class="active_">
						<span class="icon-start"></span>
					</span>
					<span data-arg="end">
						<span class="icon-end"></span>
					</span>
					<span data-arg="hexagon">
						<span class="icon-hexagon"></span>
					</span>
					<span data-arg="disjoint">
						<span class="icon-disjoint"></span>
					</span>
					<span data-arg="erase">
						<span class="icon-erase"></span>
					</span>
				</div>
			</div>

			<legend>Extras</legend>
			<div class="row options">
				<div class="option-buttons_" data-click="select-extras-tool">
					<span data-arg="dot">
						<span class="icon-dot"></span>
					</span>
					<span data-arg="star">
						<span class="icon-star"></span>
					</span>
					<span data-arg="lambda">
						<span class="icon-lambda"></span>
					</span>
					<span data-arg="erase" class="active_">
						<span class="icon-erase"></span>
					</span>
				</div>
			</div>

			<div class="row">
				<legend>Color</legend>
				<div>
					<div class="color-preset_" data-menu="extras-color" style="--preset-color: #ffffff;"></div>
				</div>
			</div>
		</div>

		<div class="button-row">
			<button data-click="output-xml">Output</button>
			<button data-click="close-view" class="primary">Close</button>
		</div>
	</div>
</div>
