<content>
	
	<div class="puzzle p1">
		<!-- <span class="junc-ws empty"></span>
		<span class="path-we empty"></span>
		<span class="junc-ws"></span>
		<span class="path-we"></span>
		<span class="junc-se"></span>
		<span class="path-we empty"></span>
		<span class="junc-se empty"></span>

		<span class="path-ns empty"></span>
		<span class="box"></span>
		<span class="path-ns"></span>
		<span class="box"></span>
		<span class="path-ns"></span>
		<span class="box"></span>
		<span class="path-ns empty"></span>

		<span class="junc-ws"></span>
		<span class="path-we"></span>
		<span class="junc-nwse"></span>
		<span class="path-we"></span>
		<span class="junc-nwse"></span>
		<span class="path-we"></span>
		<span class="junc-se"></span>

		<span class="path-ns"></span>
		<span class="box"></span>
		<span class="path-ns"></span>
		<span class="box"></span>
		<span class="path-ns"></span>
		<span class="box"></span>
		<span class="path-ns"></span>

		<span class="junc-nws"></span>
		<span class="path-we"></span>
		<span class="junc-nwse"></span>
		<span class="path-we"></span>
		<span class="junc-nwse"></span>
		<span class="path-we"></span>
		<span class="junc-nse"></span>

		<span class="path-ns"></span>
		<span class="box"></span>
		<span class="path-ns"></span>
		<span class="box"></span>
		<span class="path-ns"></span>
		<span class="box"></span>
		<span class="path-ns"></span>

		<span class="junc-nw"></span>
		<span class="path-we"></span>
		<span class="junc-nwe"></span>
		<span class="path-we"></span>
		<span class="junc-nwe"></span>
		<span class="path-we"></span>
		<span class="junc-ne"></span> -->
	</div>

	<div class="puzzle p2"></div>


</content>
