
.game-view {
	.puzzle {
		&[class*="hover-"] {
			// "disable" game play ux-wise
			.start {
				&:before { cursor: default; }
				&:after { display: none; }
			}
		}

		&.hover-cells {
			s.edit-cell {
				cursor: pointer;

				&:hover:before {
					background: rgba(#fff,.5);
				}
			}
		}

		&.hover-lines {
			s {
				&.edit-body {
					cursor: pointer;

					&:hover:before {
						background: rgba(#fff,.5);
					}
				}
			}
		}

		&.hover-ends {
			// endpoint only
			span[data-junction="0"],
			span[data-junction="02"],
			span[data-junction="24"],
			span[data-junction="046"],
			span[data-junction="6"],
			span[data-junction="026"],
			span[data-junction="024"],
			span[data-junction="246"] {
				s.edit-head {
					cursor: pointer;

					&:hover:before {
						background: rgba(#fff,.5);
					}
				}
			}

			span[data-junction="046"] {
				s.edit-foot {
					cursor: pointer;

					&:hover:before {
						background: rgba(#fff,.5);
					}
				}
			}
		}

		&.hover-starts {
			s {
				&.edit-head,
				&.edit-foot {
					cursor: pointer;

					&:hover:before {
						background: rgba(#fff,.5);
					}
				}
			}
		}

		.grid-base {
			s {
				position: absolute;
				z-index: 4;

				&.edit-cell {
					// background: rgba(#f00,.35);
					top: calc( calc( var( --gH ) * var( --y ) ) + var( --line ) );
					left: calc( calc( var( --gW ) * var( --x ) ) + var( --line ) );
					width: calc( var( --gW ) - var( --line ) );
					height: calc( var( --gH ) - var( --line ) );
				}

				&:before {
					content: "";
					position: absolute;
					top: -5px;
					left: -5px;
					right: -5px;
					bottom: -5px;
					border-radius: 3px;
					pointer-events: none;
				}
			}

			.ns, .nsd, .nse {
				s {
					&.edit-head {
						// background: rgba(#2d2,.5);
						width: var( --line );
						height: var( --line );
						top: 0;
						left: 0;
					}

					&.edit-body {
						// background: rgba(#fff,.5);
						width: var( --line );
						top: var( --line );
						bottom: var( --line );
						left: 0;

						&:before {
							top: 0;
							bottom: 0;
						}
					}

					&.edit-foot {
						// background: rgba(#00f,.5);
						width: var( --line );
						height: var( --line );
						bottom: 0;
						left: 0;
					}
				}
			}

			.we, .wed, .wee {
				s {
					&.edit-head {
						// background: rgba(#2d2,.5);
						width: var( --line );
						height: var( --line );
						top: 0;
						left: 0;
					}

					&.edit-body {
						// background: rgba(#fff,.5);
						height: var( --line );
						left: var( --line );
						right: var( --line );
						top: 0;

						&:before {
							left: 0;
							right: 0;
						}
					}

					&.edit-foot {
						// background: rgba(#00f,.5);
						width: var( --line );
						height: var( --line );
						right: 0;
						top: 0;
					}
				}
			}
		}
	}

	.ends-compass {
		position: absolute;
		// top: 110px;
		// left: 475px;
		width: 100px;
		height: 100px;
		z-index: 5;
		border-radius: 50%;
		
		&:before {
			content: "";
			background: rgba(#fff,.5);
			position: absolute;
			top: calc( 50% - 8px );
			left: calc( 50% - 8px );
			width: 16px;
			height: 16px;
			border-radius: 50%;
		}

		&.hidden {
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
		}

		span {
			position: absolute;
			width: inherit;
			height: inherit;
			border: 17px solid #fff;
			border-radius: 50%;
			clip-path: polygon(50% 50%, 31% 0, 69% 0);
			cursor: pointer;
			opacity: .5;

			&.disabled {
				display: none;
			}

			&.active {
				opacity: 1;
			}

			&:hover:not(.active) {
				opacity: .75;
			}

			&.n  { transform: rotate(0deg); }
			&.nw { transform: rotate(45deg); }
			&.w  { transform: rotate(90deg); }
			&.ws { transform: rotate(135deg); }
			&.s  { transform: rotate(180deg); }
			&.se { transform: rotate(225deg); }
			&.e  { transform: rotate(270deg); }
			&.ne { transform: rotate(315deg); }
		}
	}
}

.edit-view {
	position: absolute;
	top: 13px;
	bottom: 13px;
	left: 0;
	width: 0;
	overflow: hidden;
	transition: all 300ms ease-in-out;

	&.show {
		left: -200px;
		width: 200px;

		&:after {
			content: "";
			position: absolute;
			top: -5px;
			bottom: -5px;
			right: -6px;
			width: 5px;
			box-shadow: -3px 0 5px rgba(#000,.4);
			pointer-events: none;
		}
	}

	[class*="icon-"],
	[class^="icon-"] {
		position: relative;
		top: 0;
		width: 13px;
		height: 13px;
		display: inline-block;
		background-size: contain;
		background-position: 50% 50%;
		background-repeat: no-repeat;

		&.icon-start    { background-image: url(~/icons/icon-start.png); }
		&.icon-end      { background-image: url(~/icons/icon-end.png); }
		&.icon-hexagon  { background-image: url(~/icons/icon-hexagon.png); }
		&.icon-disjoint { background-image: url(~/icons/icon-disjoint.png); }
		&.icon-erase    { background-image: url(~/icons/icon-erase.png); }
		&.icon-dot      { background-image: url(~/icons/icon-dot.png); }
		&.icon-star     { background-image: url(~/icons/icon-star.png); }
		&.icon-lambda   { background-image: url(~/icons/icon-lambda.png); }
	}

	.wrapper {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 200px;
		border-radius: 6px 0 0 6px;
		background: #ddd;
		color: #333;
		padding: 11px 11px;
	}

	.group-row {
		position: relative;
		padding: 9px 0 17px;

		&:before,
		&:after {
			content: "";
			position: absolute;
			bottom: 4px;
			left: 0;
			right: 0;
			height: 1px;
			background: linear-gradient(90deg, transparent, #bbb, transparent);
		}

		&:after {
			bottom: 3px;
			background: linear-gradient(90deg, transparent, #eee, transparent);
		}

		> legend {
			height: 15px;
			font-weight: 700;
			margin-bottom: 1px;
			// text-shadow: 0 1px 0 rgba(#fff,.75);
		}
	}

	.button-row {
		text-align: right;
		padding: 7px 0 5px;

		button {
			width: 59px;
			margin-left: 1px;
		}
	}

	.option-buttons_ {
		> span {
			[class*="icon-"],
			[class^="icon-"] {
				pointer-events: none;
			}
		}
	}

	.row:not(.options) {
		display: flex;
		height: 27px;

		&.select {
			> div {
				text-align: left;
			}
		}

		&.compact {
			> div {
				&:nth-child(2),
				&:nth-child(3) {
					width: 51px;

					input {
						width: 29px;
					}
				}
			}
		}

		> legend {
			width: 70px;
			padding-top: 5px;
		}

		> div {
			text-align: right;

			&:nth-child(2) {
				flex: 1;
			}

			&:nth-child(3) {
				width: 41px;
				padding-left: 5px;

				button {
					width: inherit;
				}
			}

			&[data-suffix] {
				position: relative;

				&:after {
					content: attr(data-suffix);
					position: absolute;
					top: 5px;
					right: 18px;
					opacity: .75;
				}

				input {
					padding-right: 18px;
				}
			}
		}

		input {
			width: 43px;
		}

		.color-preset_ {
			width: 70px;
			display: inline-block;
		}
	}
}
