
@base: #7f0079;
@bg: #b900ac;
@gr: #ff00f9;
@fg: #8b08a2;
@hl: #fff;
@snake: #fff;


// @base: #242;
// @bg: #696;
// @gr: #8ac68a;
// @fg: #363;
// @hl: #ff0;
// @snake: #ff0;


// @base: #6a6a6a;
// @bg: #919191;
// @gr: #a5a5a5;
// @fg: #606060;
// @hl: #fff;
// @snake: #f90;



background: transparent;


content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.game-view {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		// default puzzle variables
		--width: 4;
		--height: 4;
		--unit: 17px;
		--fat: 5;
		--path: calc( var( --unit ) * var( --fat ) );
		--bg: @bg;
		--fg: @fg;
		--hl: @hl;
	}
}

.level {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var( --base );
}

.puzzle {
	position: absolute;
	top: 60px;
	left: 60px;
	width: calc( var( --path ) * var( --width ) );
	height: calc( var( --path ) * var( --height ) );

	&:before {
		content: "";
		position: absolute;
		top: calc( var( --unit ) * -2 );
		left: calc( var( --unit ) * -2 );
		right: calc( var( --unit ) * -2 );
		bottom: calc( var( --unit ) * -2 );
		border-radius: calc( var( --unit ) * 1.75 );
		background: var( --bg ) radial-gradient(circle at 50%, var( --gr ), transparent);
		box-shadow: inset 0 0 23px rgba(#000,.35);
	}

	.grid-base {
		position: absolute;
		top: calc( var( --unit ) * -.5 );
		left: calc( var( --unit ) * -.5 );
	}

	span {
		position: absolute;
		top: calc( var( --path ) * var( --y ) );
		left: calc( var( --path ) * var( --x ) );
		width: var( --unit );
		height: var( --unit );
		border-radius: var( --unit );

		&.ns {
			background: var( --fg );
			height: calc( var( --path ) + var( --unit ) );
		}

		&.we {
			background: var( --fg );
			width: calc( var( --path ) + var( --unit ) );
		}

		&.start {
			&:before {
				content: "";
				position: absolute;
				top: calc( calc( var( --unit ) * -1 ) + 3px );
				left: calc( calc( var( --unit ) * -1 ) + 3px );
				right: calc( calc( var( --unit ) * -1 ) + 3px );
				bottom: calc( calc( var( --unit ) * -1 ) + 3px );
				border-radius: 50%;
				background: var( --fg );
			}
		}

		&.exit {
			&:before {
				content: "";
				position: absolute;
				width: calc( var( --unit ) * 1 );
				height: calc( var( --unit ) * 2 );
				border-radius: var( --unit );
				background: var( --fg );
			}
		}

		&.dot {
			top: calc( calc( ( var( --path ) ) * var( --y ) ) + var( --unit ) );
			left: calc( calc( ( var( --path ) ) * var( --x ) ) + var( --unit ) );
			width: calc( var( --path ) - var( --unit ) );
			height: calc( var( --path ) - var( --unit ) );

			&:before {
				content: "";
				position: absolute;
				top: var( --unit );
				left: var( --unit );
				right: var( --unit );
				bottom: var( --unit );
				border-radius: calc( var( --unit ) * .6 );
				background: var(--c);
			}
		}
	}
}
