
@bg: #6e0f6c;
@puzzle-bg: #a0a;
@puzzle-fg: #5d1395;
@puzzle-hl: #fff;
@snake: #fff;


// @bg: #242;
// @puzzle-bg: #696;
// @puzzle-fg: #363;
// @puzzle-hl: #ff0;
// @snake: #ff0;


// @bg: #6a6a6a;
// @puzzle-bg: #7c7c7c;
// @puzzle-fg: #464646;
// @puzzle-hl: #fff;
// @snake: #f90;



background: @bg;


content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


@keyframes pulsate {
	0% { opacity: 1; transform: scale(.1); }
	80%,
	100% { opacity: 0; transform: scale(1); }
}
