
[data-ui="karaqu-dark"] {
	.win-body_ content {
		.edit-view {
			.wrapper {
				background: #6a6a6a;
				color: #eee;
				text-shadow: 0 1px 0 rgba(#111,.25);
			}
		}
	}
}

[data-ui="glass-frosted"] {

}

[data-ui="glass-distorted"] {

}

[data-ui="royale-beige"] {

}

[data-ui="royale-amber"] {

}

[data-ui="royale-black"] {

}

[data-ui="royale-emerald"] {

}

[data-ui="royale-purple"] {

}

[data-ui="royale-pink"] {

}
